.notesRoot {
  height: 100%;
  display: grid;
  grid-template: 1fr auto / 1fr;

  .list {
    display: grid;
    grid-template: repeat(auto-fit, 20px) / 1fr;
  }
  
  .actionArea {
    display: grid;
    grid-template: 1fr / auto 1fr;
  }
}