.rootContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  
  .actionBar {
    display: grid;
    grid-template: 1fr / 30% 10% 1fr 1fr auto;
  }
}

// /** Layout */
// .root {
//   display: flex;
//   flex-direction: column;
//   align-items: stretch;
//   padding: 20px;
//   height: calc(100vh - 40px);
// 
//   .topBar {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
// 
//     input[type=text] {
//       flex-basis: 50%;
//     }
// 
//     button {
//       margin-left: 10px;
//     }
// 
//     .statusTextRoot {
//       position: relative;
// 
//       >span {
//         margin-left: 5px;
//         font-size: 0.8em;
//         &.notConnected {
//           color: yellow;
//         }
//         &.error {
//           color: red;
//         }
//         &.connected {
//           color: lime;
//         }
//       }
// 
//       .hintRoot {
//         position: absolute;
//         background-color: rgba(0, 0, 0, 0.9);
//         padding: 3px;
//         top: 70%;
//         left: 30%;
//         z-index: 50;
//         font-size: 0.8em;
//       }
//     }
// 
//   }
// 
//   .viewer {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     margin-top: 20px;
//     overflow: hidden;
//     
//     .actions {
//       display: flex;
//       flex-direction: row;
//       justify-content: center;
//       
//       button {
//         flex-basis: 180px;
//         margin-right: 10px;
//       }
// 
//       span {
//         font-size: 0.8em;
//         opacity: 0.5;
//       }
//     }
//     
//     .viewBox {
//       overflow-y: scroll;
//       background-color: rgba(255, 255, 255, 0.05);
//       padding: 10px;
//       flex-grow: 1;
//       display: grid;
//       grid-template-columns: repeat(auto-fill, 210px);
//       gap: 10px;
//       
//       .imageEntry {
//         position: relative;
//         
//         &.selected {
//           .imageBox {
//             outline: 3px solid #00FF75;
//           }
//         }
// 
//         .selectionMarker {
//           position: absolute;
//           top: 5px;
//           left: 5px;
//           line-height: 1em;
//           pointer-events: none;
//           user-select: none;
//         }
// 
//         .imageBox {
//           height: 180px;
//           background-color: #999;
//           cursor: pointer;
//           display: flex;
//           align-items: center;
//           justify-content: center;
// 
//           &:hover {
//             outline: 3px solid #0075FF;
//           }
// 
//           .extText {
//             opacity: 0.75;
//           }
//         }
//         .text {
//           word-wrap: break-word;
//           text-align: center;
//           font-size: 0.8em;
//           margin: 3px;
//         }
//       }
//     }
//   }
// }
// 
// .spacer {
//  flex-grow: 1;
// }
// 
// .contextMenuRoot {
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   width: 100vw;
//   height: 100vh;
//   z-index: 100;
//   visibility: collapse;
//   
//   .backdrop {
//     background-color: rgba(0, 0, 0, 0.0);
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
// 
//     &.rename {
//       background-color: rgba(255, 255, 255, 0.3);
//     }
//   }
// 
//   .visibleRoot {
//     background-color: rgba(0, 0, 0, 0.95);
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     padding: 2px;
// 
//     span {
//       padding: 2px 5px;
//       font-size: 0.8em;
//       
//       &:not(.info) {
//         cursor: pointer;
//         &:hover {
//           background-color: rgba(255, 255, 255, 0.2);
//         }
//       }
// 
//       &.info {
//         opacity: 0.5;
//       }
// 
//       &.dangerous {
//         color: #F00;
//       }
//     }
//   }
// 
//   .renameRoot {
//     position: absolute;
// 
//     input[type=text] {
//       width: 300px;
//     }
//   }
// }
// 
// .loadingRoot {
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.7);
//   backdrop-filter: blur(5px);
//   width: calc(100vw - 100px);
//   height: calc(100vh - 100px);
//   padding: 50px;
//   z-index: 100;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }
// 
// .uploadRoot {
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.7);
//   backdrop-filter: blur(5px);
//   width: calc(100vw - 100px);
//   height: calc(100vh - 100px);
//   padding: 50px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   z-index: 50;
//   
//   .inner {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 50%;
//     background-color: rgba(0, 0, 0, 0.5);
//     padding: 50px 20px;
//     position: relative;
// 
//     * {
//       margin: 10px 0px;
//     }
// 
//     h2 {
//       color: #CCC;
//       font-size: 1.2em;
//       margin-bottom: 0px;
//     }
// 
//     img {
//       max-width: 200px;
//       max-height: 200px;
//     }
// 
//     .error {
//       color: #f00;
//     }
// 
//     .closeButton {
//       position: absolute;
//       right: 10px;
//       top: 10px;
//       background-color: rgba(255, 0, 0, 0.7);
//       font-size: 0.7em;
//       padding: 0px;
//       width: 20px;
//       height: 20px;
//       margin: 0;
// 
//       &:active {
//         background-color: rgba(255, 0, 0, 0.4);
//       }
//     }
//   }
// }
// 
// /** Visual styling */
// button, input {
//  border: 0;
//  outline: 0;
//  &:hover, &:active, &:focus{
//    border: 0;
//    outline: 0;
//  }
// }
// 
// button {
//  border: 0px;
//  background-color: rgba(255, 255, 255, 0.15);
//  color: rgba(255, 255, 255, 0.8);
//  font-size: 10pt;
//  padding: 2px 15px;
//
//  &.dangerous {
//    background-color: rgba(255, 0, 0, 0.15);
//
//    &:not(:disabled) {
//      &:hover {
//        background-color: rgba(255, 0, 0, 0.5);
//      }
//
//      &:active {
//        background-color: rgba(255, 0, 0, 0.1);
//      }
//    }
//  }
//
//  &:not(:disabled) {
//    cursor: pointer;
//    &:hover {
//      background-color: rgba(255, 255, 255, 0.3);
//      color: rgba(255, 255, 255, 1.0);
//    }
//  
//    &:active {
//      background-color: rgba(255, 255, 255, 0.1);
//    }
//  }
//
//
//  &:disabled {
//    opacity: 0.5;
//  }
// }
// 
// input[type=text] {
//  background-color: rgba(0, 0, 0, 0.7);
//  color: rgba(255, 255, 255, 0.8);
//  padding: 2px 5px;
// }
// 
// ::-webkit-scrollbar-button {
//   height: 0;
//   border: 0;
//   outline: 0;
// }
// 
// ::-webkit-scrollbar {
//   background-color: rgba(0, 0, 0, 0);
//   border: 0;
//   outline: 0;
//   width: 5px;
// }
// 
// ::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, 1);
//   border: 0;
//   outline: 0;
// }
// 
// ::-webkit-scrollbar-track {
//   background-color: rgba(0, 0, 0, 0);
//   border: 0;
//   outline: 0;
// }
// 
// ::-webkit-scrollbar-track-piece {
//   background-color: rgba(0, 0, 0, 0.5);
//   border: 0;
//   outline: 0;
// }